<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uPark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B974FDE61EE006CD001ED2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B974FDFA1EE006CD001ED2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B974FE051EE006CD001ED2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
